body {
    padding: 0;
    margin: 0;
}

div.center {
    padding-left: 20%;
    padding-right:20%;
}

@media screen and (max-width: 500px){
    div.center {
	padding-left: 2%;
	padding-right: 2%;
    }
}


div.center {
    padding-left: 20%;
    padding-right:20%;
}

@media screen and (max-width: 500px){
    div.center {
      padding-left: 2%;
      padding-right: 2%;
    }
}

p.center {
    text-align: center;
}


/************** For Navbar  ******************/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 25%;
    width: 100%;
    background-color: #163f82;
    position: fixed;         /* Make it stick, even on scroll */
    overflow: hidden;
}    

li.nav {
    float: left;             /* Necessary for horizontal navbar*/
}

li.nav a {                       /* Style of links in navbar */
    display: block;
    color: #c4c8d1;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}


li.nav a:hover {                 /* Change the link color on hover */
    background-color: #555;
    color: white;
}

@media screen and (max-width: 600px){
    ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #163f82;
	position: fixed;         /* Make it stick, even on scroll */
	overflow: hidden;
    }    

    ul.nav li {
	float: none;
	text-align:center;
	}
}

/**********/

a {
    text-decoration: none;
    color:#163f82;
    padding: 3px 3px;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color:#163f82;
    padding: 3px 3px;
    font-weight: bold;
}

hr {
    width: 75%;
    border: 0;
    height: 1px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


pre {
    background-color: #eeeeee;
    padding-top: 30px;
    padding-right:20px;
}    

/** Collapsible **/

/* Style the button that is used to open and close the collapsible content */
div.centerwide {
    padding-left: 10%;
    padding-right: 10%;		      
}
.collapsible {
  background-color: #1a4a99;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #163f82;
}
.collapsible:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 10px;    
}
